---
import Links from './Links.astro';
import './basenav.css';

interface Props {
	name: string;
	url: string;
	logo_alt: string;
	logo_url: string;
	links: string[][];
}

const { name, url, logo_alt, logo_url, links } = Astro.props;
---

<bar>
	<a href={url} style="flex-grow: 1;">
		<img src={logo_url} alt={logo_alt} />
		{name}
	</a>
	<Links links={links} />
</bar>
