---
import './box.css';

interface Props {
	title: string;
	url: string;
	tagline?: string;
	background: string;
}

const { title, url, tagline, background } = Astro.props;

const following_text = tagline ? ` - ${tagline}` : '';
const style = `background-image: url(/assets/${background})`;
---

<box tabindex="0">
	<inner>
		<b><a href={url}>{title}</a>{following_text}</b>
		<br /><br />
		<slot />
	</inner>
	<cover style={style}><div><h3>{title}</h3></div></cover>
</box>
