---
export interface Props {
	loading?: 'lazy' | 'eager';
}

const { loading = 'eager' } = Astro.props;
---

<footer>
	<div>
		<a href="/">
			<img src="/assets/logobw.svg" loading={loading} alt="william horning" />
		</a>
		<img
			src="/assets/footer/pride.svg"
			loading={loading}
			alt="LGBTQ+ pride flag"
		/>
		<img
			src="/assets/footer/gay.svg"
			loading={loading}
			alt="gay men pride flag"
		/>
		<a href="https://github.com/williamhorning">
			<img src="/assets/footer/github.svg" loading={loading} alt="github" />
		</a>
		<a href="https://jsr.io/@jersey">
			<img src="/assets/footer/jsr.svg" loading={loading} alt="jsr" />
		</a>
		<a href="https://bsky.app/profile/williamhorning.bsky.social">
			<img src="/assets/footer/bluesky.svg" loading={loading} alt="bluesky" />
		</a>
		<a href="https://discord.gg/K2nBQa9zv4">
			<img src="/assets/footer/discord.svg" loading={loading} alt="discord" />
		</a>
		<a href="https://www.guilded.gg/i/k3yx810E">
			<img src="/assets/footer/guilded.svg" loading={loading} alt="guilded" />
		</a>
		<a href="https://app.revolt.chat/invite/jBSjfpd0">
			<img src="/assets/footer/revolt.svg" loading={loading} alt="revolt" />
		</a>
		<a href="https://t.me/williamhorning">
			<img src="/assets/footer/telegram.svg" loading={loading} alt="telegram" />
		</a>
	</div>
	<br />
	<p>
		this site doesn't use cookies. all content is available under the MIT
		license. made with ❤️ by jersey
	</p>
</footer>
