---
import './hero.css';

interface Props {
	name: string;
	tagline: string;
	use_inline?: boolean;
	image_url: string;
	image_alt: string;
	buttons: {
		primary?: boolean;
		url: string;
		text: string;
	}[];
}

const { name, tagline, use_inline, image_alt, image_url, buttons } =
	Astro.props;
---

<hero>
	<div>
		{
			use_inline ? (
				<h1 style="margin-bottom: 2.5rem !important">
					<span id="gradient" style="display: inline">
						{name}
					</span>{' '}
					{tagline}
				</h1>
			) : (
				<>
					<h1 id="gradient">{name}</h1>
					<h1>{tagline}</h1>
				</>
			)
		}
		<div class="btngroup">
			{
				buttons.map((btn) => (
					<a href={btn.url} class={btn.primary ? 'primary btn' : 'btn'}>
						{btn.text}
					</a>
				))
			}
		</div>
	</div>
	<img src={image_url} alt={image_alt} />
</hero>
