---
import './base.css';
import BaseNav from '../components/BaseNav.astro';
import Footer from '../components/Footer.astro';

export interface BaseProps {
	title?: string;
	description?: string;
	icon?: string;
	prose?: boolean;
	max_width?: string | false;
	loading?: 'lazy' | 'eager';
}

export type Props = BaseProps & {
	frontmatter?: BaseProps;
};

export function get_full(props: typeof Astro.props): BaseProps {
	return props.frontmatter ? props.frontmatter : props;
}

const props = get_full(Astro.props);
const title = props.title ? `${props.title} - jersey` : 'jersey';
const description = props.description || "jersey's corner of the internet";
const icon = props.icon || '/assets/logo.svg';
const path = `https://williamhorning.eu.org${Astro.url.pathname}`;
const prose = props.prose;
const loading = props.loading ?? 'lazy';
const max_width =
	props.max_width === false
		? ''
		: props.max_width
			? `max-width: ${props.max_width};`
			: props.prose
				? `max-width: 52rem`
				: `max-width: 1200px`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="canonical" href={path} />
		<link rel="icon" href={icon} />
		<link rel="stylesheet" href="/assets/inter/inter.css" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot name="header">
			<BaseNav
				name="jersey"
				url="/"
				logo_alt="jersey's logo"
				logo_url="/assets/logobw.svg"
				links={[
					['blog', '/blog'],
					['bolt', '/bolt'],
					['lightning', '/lightning'],
				]}
			/>
		</slot>
		{
			prose ? (
				<main class="prose" style={max_width}>
					<slot />
				</main>
			) : (
				<main style={max_width}>
					<slot />
				</main>
			)
		}
		<Footer loading={loading} />
	</body>
</html>
